body{
  margin:0;
  padding:0;
  background:linear-gradient(5deg, white, #f0f0f0);
  background-repeat: no-repeat;
  font-family:sans-serif;

}
.title{
  margin:50px;
  font-size:100px;
  font-weight: lighter;
  word-wrap: break-word;
  margin-bottom:0px;
}
.container{
  margin-left: 260px;
  /* width:100vw; */
  /* height:100vh; */
  text-align: center;
  padding-top:50px;
  position: relative;
  top:-400px;

}
.sidebar{
  margin-left:60px;
  width: 200px; /* Set the width of the sidebar */
  position: static;
  z-index: 1; /* Stay on top */
}
.side-item{
  margin:10px;
}
