body{
  margin:0;
  padding:0;
  background:linear-gradient(5deg, white, #f0f0f0);
  background-repeat: no-repeat;
  font-family:sans-serif;

}
.title{
  margin:50px;
  font-size:100px;
  font-weight: lighter;
  word-wrap: break-word;
  margin-bottom:0px;
}

.sidebar{
  margin-left:60px;
  width: 200px; /* Set the width of the sidebar */
  position: static;
  z-index: 1; /* Stay on top */
}
.info-item{
  margin:10px;
}
.side-item{
  margin:10px;
}
.container{
  margin-left: 280px;
  /* width:100vw; */
  /* height:100vh; */
  text-align: left;
  padding-top:50px;
  position: relative;
  top:-500px;
}
#central{
  width:600px;
}
a{
  color:black;
  text-decoration: none;
}
.art-label{
  font-style:italic;
  font-size:90%;
}
